* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./imagens/mapa.jpg);
    background-size: 100%;
}

.logo {
    position:absolute;
    top: 0;
    left: 1%;
    width: 15%;
    text-align: center;
    display: block;
    margin: auto;
    hover
    }

    .logo:hover {
        transform: scale(1.1);
    }

.game-board {
    width: 70%;
    height: 600px;
    margin: 90px auto 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    box-shadow: 7px 7px 5px #000000d5;
    background-image: url(imagens/cenario.png);
}

.barco {
    position: absolute;
    width: 742px;
    bottom: 110px;
    animation: barco-animation 70s infinite linear;
}
    
.luffy {
    width: 150px;
    position: absolute;
    bottom: 52px;
}

.jump {
    animation: jump 500ms ease-out;
}
    
.clouds {
    width: 800px;
    position: absolute;
    animation: clouds-animation 25s infinite linear;

}

.bomb {
    position: absolute;
    bottom: 70px;
    width: 115px;  
    animation: bomb-animation 1.9s infinite linear, girar 5s infinite linear;
}

.over {
    position: absolute;
    background: radial-gradient(circle at center, rgba(20, 20, 20, 50), rgba(0, 0, 0, 0));
    width: 45%;
    top: 25%;
    left: 30%;
}

.counter {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin-left: 35%;
    bottom: 50px;
    width: 30%;
    text-align: center;
}

.restart-btn {
    width: 10%;
    background: black;
    padding: 5px;
    margin: 3%;
    font-weight: bold;
    font-size: 1.2em;
    float: left;
    position: absolute;
    top: 20%;
    text-align: center;
    color: red;
    border-radius: 10px;
    border: none;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes barco-animation {
    from {
        right: -300px;
    }
    to {
        right: 100%;
    }
}

@keyframes bomb-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 52px;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 52px;
    }
}

@keyframes clouds-animation {
    from {
        right: -600px;
    }
    to {
        right: 100%;
    }
}